<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  {{>head}}
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
      {{>header}}
  </header>

<div class="body-content">
  {{>introdue}}
 {{{body}}}
</div>
 
  {{>script}}
  <footer>
    {{>footer}}
  </footer>
</body>

</html>