{{head}}

<footer>
        <div class="splitter"></div>
       <ul>
    <li>
        <div class="icon" data-icon="A"></div>
        <div class="text">
            <h4>Address</h4>
            <div>331A Quốc Lộ 1A, Phường An Phú Đông, Quận 12, Thành Phố Hồ Chí Minh.</div>
        </div>
    </li>
    <li>
        <div class="icon" data-icon="a"></div>
        <div class="text">
            <h4>About</h4>
            <div>
                <ul>
                    <a href="https://www.facebook.com/ThanhPhongNguyen.IT/" target="_blank">Facebook</a><br>
                    <a href="https://twitter.com/Account_ntp" target="_blank">Twitter</a><br>
                    <a href="https://www.instagram.com/_iamken2000/" target="_blank">Instagram</a>
            </ul>
                </div>
        </div>
    </li>
    <li>
        <div class="icon" data-icon="m"></div>
        <div class="text">
            <h4>Maps</h4>
            <div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.365133826851!2d106.69243501428757!3d10.859808160619853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529c17978287d%3A0xec48f5a17b7d5741!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBOZ3V54buFbiBU4bqldCBUaMOgbmggLSBDxqEgc-G7nyBxdeG6rW4gMTI!5e0!3m2!1svi!2s!4v1610037468330!5m2!1svi!2s" class="footer__maps" width="250" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
        </div>
    </li>
</ul>

       <div class="bar">
    <div class="bar-wrap">
        <ul class="links">
            <li><a href="">Home</a></li>
            <li><a href="https://www.facebook.com/ThanhPhongNguyen.IT/" target="_blank">Contact Us</a></li>
            
        </ul>

        <div class="social">
            <a href="#" class="fb">
                <span data-icon="f" class="icon"></span>
                <span class="info">
                    <span class="follow">Become a fan Facebook</span>
                    <span class="num">9,999</span>
                </span>
            </a>

            <a href="#" class="tw">
                <span data-icon="T" class="icon"></span>
                <span class="info">
                    <span class="follow">Follow us Twitter</span>
                    <span class="num">9,999</span>
                </span>
            </a>

            <a href="#" class="rss">
                <span data-icon="R" class="icon"></span>
                <span class="info">
                    <span class="follow">Subscribe RSS</span>
                    <span class="num">9,999</span>
                </span>
            </a>
        </div>
        <div class="clear"></div>
        <div class="copyright">&copy;2021 All Rights Reserved Design By ThanhPhongNguyen</div>
    </div>
</div>
    </footer>

<marquee class="footer__marquee">TRƯỜNG ĐẠI HỌC NGUYỄN TẤT THÀNH !</marquee>